* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
#root{
  display: none;
  justify-content: center;
  padding: 30px;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, 250px)
}
.cardHeader{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(51, 153, 255);
  position: relative;
}
.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  cursor: pointer;
}
.cardBody {
  text-align: center;
  padding: 10px;
}
.cardBody h3{
  font-size: 18px;
  font-weight: 700;
}
.userCard{
  max-width: 250px;
  border: 1px solid #000;
}